# Required for Jest ESM support. Stryker configs duplicate this in testRunnerNodeArgs
# because Stryker spawns its own child processes that don't inherit .npmrc settings.
node-options=--experimental-vm-modules
