---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Rundown - Executable Workflows in Markdown">
  <main>
    <Hero />
  </main>
</Layout>
